<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="is.hi.finnbogi_mobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinnbogiMobile">
        <activity android:name=".ShiftListActivity"></activity>
        <activity android:name=".OneNotificationActivity"></activity>
        <activity android:name=".ShiftExchangeListActivity" />
        <activity android:name=".ShiftExchangeActivity" />
        <activity android:name=".MakeUserActivity" />
        <activity android:name=".UserInfoActivity" />
        <activity android:name=".UserListActivity" />
        <activity android:name=".MakeShiftActivity" />
        <activity android:name=".ShiftActivity" />
        <activity android:name=".NotificationsActivity"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".NotificationSpecifics.NotificationReciever"
            android:process=":remote" >
        </receiver>

        <service
            android:name=".NotificationSpecifics.NotificationIntentService"
            android:exported="false" />
    </application>

</manifest>